{% extends "default.html" %}
{% load socialaccount %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Вход в систему</h2>

    <!-- Кнопка входа через Google -->
    <div class="mb-4">
        <a href="{% provider_login_url 'google' %}" class="btn btn-danger">
            <i class="fab fa-google me-2"></i>Войти через Google
        </a>
        <a href="{% provider_login_url 'yandex' %}" class="btn btn-warning">
            <i class="fab fa-yandex me-2"></i>Войти через Яндекс
        </a>

    </div>

    <!-- Форма для входа -->
    <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_login" class="form-label">Email</label>
            <input type="email" name="login" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Пароль</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="{% url 'account_signup' %}" class="btn btn-link">Регистрация</a>
        {% if form.errors %}
            <div class="alert alert-danger">
        {{ form.errors }}
            </div>
{% endif %}
    </form>
</div>
{% endblock %}